{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart</h1>
            <p>My Awesome Cart is web application develop in python as programing language, Django is a framework and
                SQLite as database. The SQLite is inbuild database in Django. For designing html, CSS, js and bootstrap
                are used. I create this website with the help of YouTube videos, Django documentation and bootstrap
                documentations</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2 align="center">PYTHON</h2>
                <center><img src="/static/shop/python.jpg"></center>
                <p>This web application is develop in python.Python is an interpreted high-level general-purpose
                    programming
                    language. Python's design philosophy
                    emphasizes code readability with its notable use of significant indentation.</p>
            </div>
            <div class="col-md-4">
                <h2 align="center">DJANGO</h2>
                <center><img src="/static/shop/django.png"></center>
                <p>This application is created in Django framework.Django framework is best for web developments.Django
                    is a Python-based free and open-source web framework that follows the model–template–views
                    architectural pattern.</p>
            </div>
            <div class="col-md-4">
                <h2 align="center">SQLite</h2>
                <center><img src="/static/shop/sqlite.jpg"></center>
                <p>SQLite is inbuild database in Django.SQLite is a relational database management system contained in a
                    C library. In contrast to many other
                    database management systems, SQLite is not a client–server database engine. </p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p><b>
        <center>My Awesome Cart is a web application</center>
    </b></p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')










</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script></body>
</html>


{% endblock %}